# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build
dist/
build/
.vite/

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Temporary
*.tmp
*.temp